*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}


/* Reusable styles */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}



body {
    background-image: url(./assets/matryoshka-516281_1280.jpeg);
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 100vh;
}

.box {
    grid-area: m;
    gap: 10px;
    width: 500px;
    background: rgb(66, 51, 51);
    opacity: .9;
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
}

.title {
    color: white;
    font-size: 2rem;
    margin: 2rem;
}

#text {
    margin-bottom: 30px;
    text-align: center;
}

.btn {
    background-color: springgreen;
    border-radius: 10px;
    border: 1px solid grey;
    color: #333;
    width: 100%;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 10px 27px grey;
}

